<!DOCTYPE html>
<html lang="nl">
<head>
</head>
<body>
<div xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head(title)">
        <title th:text="${title}"></title>
        <link rel="icon" th:href="@{/images/personeel.ico}" type="image/x-icon">
        <link rel="stylesheet" th:href="@{/css/mail.css}">
    </head>
    <div th:fragment="home">
        <a th:href="@{/}">Home</a>
        <form method="post" th:action="@{/logout}">
            <button>Uitloggen</button> </form>
    </div>
</div>
</body>
</html>
