<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Werknemers')"></head>
<body>
<div th:replace="fragments::home"></div>
<script th:src="@{/js/preventDoubleSubmit.js}" defer></script>

<div th:if="${werknemer}" th:object="${werknemer}">
    <h1 th:text="|Opslag voor *{familienaam} *{voornaam}|"></h1>
    <dt>Hudige Salaris</dt>
    <dd th:text="*{salaris}"></dd>
</div>
<form th:action="@{/opslag/{id}/bedrag(id=*{id})}" method="get">
    <label> Bedrag:
        <input name="bedrag" type="number" min="1"  autofocus placeholder="Bedrag" required>
    </label>
    <button>Opslag</button>
</form>
<div th:if="${param.error}" class="fout">Bedrag onjuist</div>
</body>

</html>